<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Profile'}) %>
<link rel="stylesheet" href="../stylesheets/profile.css" />
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<!-- Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<script defer src="/js/profile.js"></script>

<body>
    <%- include('../partials/header') %>

    <div class="container">
        <form action="/user/avatar" id="newAvatar" method="post" enctype="multipart/form-data">
            <div class=" avatar-container">
                <img src="/images/avatars/<%= user.image  %>" class="avatar" alt="editar avatar">
            </div>
            <div class="row btn-action-container">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </form>
        <div class="errors">

        </div>

        <div class="pt-5">

            <div class="form-group mt-2">
                <h1>Cambio de Password</h1>
                <form method="POST" id="changePasswordForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" name="password" id="password" value="">
                        </div>
                    </div>
                    <div class="form-row actions mt-1">
                        <button type="submit" value="" id="btnSavePassword" class="btn btn-success">
                            Guardar</button>
                    </div>
                </form>
                <div class="messages">
                    <% if(typeof messages !='undefined'){ %>
                    <% messages %>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>


</html>