<section class="buscador-torta">
    <div class="buscador">
    <form action="/product" method="GET">
        <input type="search" name="name" class="input-buscador" placeholder="Buscador de tematica" id="formulario">
        <button class="button-search" id="button-buscar" type="submit"><i class="fas fa-search"></i></button>
    </form>
    </div>
</section>