<link rel="stylesheet" href="/stylesheets/header.css" />
<header class="dp-flex">
  <div class="logo">
    <a href="home"><img src="/images/coquita_logo.png" alt="" /></a>
  </div>

  <div class="dp-flex barra">
    <div class="padding-5">
      <a href="home" class="color-marron">HOME</a>
    </div>

    <div class="padding-5">
      <a href="productMain" class="color-marron">PRODUCTOS</a>
    </div>

    <div class="padding-5">
      <a href="" class="color-marron">GALERIA</a>
    </div>

    <div class="padding-5">
      <a href="" class="color-marron">FAQ</a>
    </div>

    <div class="padding-5">
      <a href="" class="color-marron">CONTACTO</a>
    </div>
  </div>

  <div class="dp-flex iconos">
    <div class="padding-7">
      <a href="register"><i class="fas fa-user color-marron"></i></a>
    </div>
    <div class="padding-7">
      <a href="productCart"><i class="fas fa-shopping-cart color-marron"></i></a>
    </div>
    <div class="padding-7">
      <a href="" class="color-marron"><i class="fas fa-sign-in-alt color-marron"></i></a>
    </div>
  </div>
</header>