<link rel="stylesheet" href="/stylesheets/header.css" />
<header class="dp-flex">

  <div class="logo">
    <a href="home"><img src="/images/coquita_logo.png" alt="" /></a>
  </div>

  <div id="mySidenav" class="sidenav dp-flex navegacion">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <nav class="dp-flex barra">
      <ul>
        <li><a href="home" class="color-marron">HOME</a></li>
        <li><a href="product" class="color-marron">PRODUCTOS</a></li>
        <li><a href="" class="color-marron">CONTACTO</a></li>

        <li><a href="login"><i class="fas fa-user"></i> INGRESÁ </a></li>
        <li><a href="cart"><i class="fas fa-shopping-cart"></i> CARRITO </a></li>
        <li><a href="logout"><i class="fas fa-sign-in-alt"></i> SALIR </a></li>
      </ul>
    </nav>
  </div>

  <span id="burger" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>



  <div class="dp-flex iconos">
    <ul>
      <li><a href="" class="color-marron"><i class="fas fa-sign-in-alt color-marron"></i></a></li>
      <li><a href="cart"><i class="fas fa-shopping-cart color-marron"></i></a></li>
      <li><a href="register"><i class="fas fa-user color-marron"></i></a></li>
    </ul>
  </div>

</header>