<link rel="stylesheet" href="/stylesheets/header.css" />
<header class="dp-flex">

  <div class="logo">
    <a href="home"><img src="/images/coquita_logo.png" alt="" /></a>
  </div>

  <div class="dp-flex navegacion">
    <button id="menu"><i class="fas fa-bars"></i></button>
    <nav class="dp-flex barra">
      <ul>
        <li><a href="home" class="color-marron">HOME</a></li> 
        <li><a href="product" class="color-marron">PRODUCTOS</a></li>
        <li><a href="" class="color-marron">FAQ</a></li>
        <li><a href="" class="color-marron">CONTACTO</a></li>

        <li><a href="register"><i class="fas fa-user"></i> INGRESÁ </a></li>
        <li><a href="productCart"><i class="fas fa-shopping-cart"></i> CARRITO </a></li>
        <li><a href=""><i class="fas fa-sign-in-alt"></i> SALIR </a></li>
      </ul>
    </nav>
  </div>

  <div class="dp-flex iconos">
    <ul>
      <li><a href="" class="color-marron"><i class="fas fa-sign-in-alt color-marron"></i></a></li>
      <li><a href="productCart"><i class="fas fa-shopping-cart color-marron"></i></a></li>
      <li><a href="register"><i class="fas fa-user color-marron"></i></a></li>
    </ul>
  </div>

</header>