<link rel="stylesheet" href="/stylesheets/header.css" />
<header class="dp-flex">
  <div class="logo">
    <a href="/"><img src="/images/coquita_logo.png" alt="" /></a>
  </div>

  <div id="mySidenav" class="sidenav dp-flex navegacion">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <nav class="dp-flex barra">
      <ul>
        <li><a href="/" class="color-marron">HOME</a></li>
        <li><a href="/product" class="color-marron">PRODUCTOS</a></li>
        <li><a href="contact" class="color-marron">CONTACTO</a></li>
        <% if (locals.profile == 1){ %>
        <li><a href="/administracion" class="color-marron">ADMINISTRACIÓN</a></li>
        <% } %>
        <!-- ESTOS ESTÁN OCULTOS EN CSS PARA NO MOSTRASE. PERTENECEN A LA SIDEBAR-->
        <% if (locals.usuario){ %>
        <li class="liLogout"><a href="/user/logout" class="color-marron">LOGOUT</a></li>
        <% } %>
        <% if(locals.usuario === undefined){ %>
        <li class="liCart"><a href="/cart/cart">CARRITO</a></li>
        <% } %>
        <% if(locals.usuario === undefined){ %>
        <li class="liLogin"><a href="/user/login">LOGIN</a></li>
        <% } %>
      </ul>
    </nav>
    <% if(locals.usuario){ %>
    <p><%= locals.usuario %></p>
    <% } %>

  </div>

  <span id="burger" style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776;</span>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>

  <div class="dp-flex iconos">
    <ul>
      <% if (locals.usuario){ %>
      <li>
        <a href="/user/logout" class="color-marron"><i class="fas fa-sign-in-alt color-marron"></i>
        </a>
      </li>
      <% } %>
      <% if(locals.usuario == undefined && locals.profile !=1){ %>
      <li>
        <a href="/cart/cart"><i class="fas fa-shopping-cart color-marron"></i></a>
      </li>
      <% } %>
      <% if(locals.usuario == undefined){ %>
      <li>
        <a href="/user/login"><i class="fas fa-user color-marron"></i></a>
      </li>
      <% } %>
    </ul>
  </div>
</header>