<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coquita</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="styles/abm-products.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>

<body>
    <header>
        <div class="menu-logo-container align-items-center mr-left-20">
            <a href=""><i class=" fas fa-bars"></i></a>
            <img class="logo mr-left-10" src="/img/coquita_logo.png" alt="">

            <div class="container d-flex">
                <div class="search-container">
                    <i class="icons fas fa-search search-icon mr-left-30"></i>
                </div>
                <div class="user-bag-container">
                    <i class="far mr-right-10 fa-user user-icon icons"></i>
                    <i class="fas mr-right-10 fa-shopping-bag icons"></i>
                    <span class="bold icons">0</span>
                </div>



            </div>

            <!-- <div class="icon-user-cart d-flex justify-content-end">
                    
                    
                </div> -->

        </div>

        </div>

    </header>
    <footer class="mr-top-10 mr-bottom-10">
        <p>
            Footer here!
        </p>
    </footer>
</body>

</html>