<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coquita</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="styles/abm-products.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>

<body>
    <header>
        <div class="menu-logo-container align-items-center mr-left-20">
            <a href="" class="mr-right-10">
                <i class=" fas fa-bars"></i>
            </a>
            <a href="/" class="mr-right-10">
                <img class="logo" src="/img/coquita_logo.png" alt="">
            </a>

            <div class="container d-flex">
                <div class="search-container">
                    <a href="">
                        <i class="icons fas fa-search search-icon"></i>
                    </a>

                </div>
                <div class="user-bag-container">
                    <a href="" class="mr-right-10">
                        <i class="far fa-user user-icon icons"></i>
                    </a>
                    <a href="" class="mr-right-10">
                        <i class="fas fa-shopping-bag icons"></i>
                    </a>

                    <span class="bold icons">0</span>
                </div>



            </div>

            <!-- <div class="icon-user-cart d-flex justify-content-end">
                    
                    
                </div> -->

        </div>

        </div>

    </header>
    <footer class="mr-top-10 mr-bottom-10">
        <p>
            Footer here!
        </p>
    </footer>
</body>

</html>