<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title:"ADMINISTRACION DE PRODUCTOS"})%>
<link rel="stylesheet" href="stylesheets/administracion.css">
<body>
    <%- include('partials/header')%>

<div class="nuevo-producto dp-flex direccion-flex">


    <div class="codigo-producto">
    <form action="" >
        <label for="">Código</label>
        <input type="number">
    </div>
        
    
    <div class="nombre-producto">
    <form action="" >
            <label for="">Nombre</label>
            <input type="text">
    </div>
    
    
    <div class="agregar-producto">
        <form action="" >
           <label for="">Agregar</label>
           <input type="submit" > 
        </div>
    </form>
</div>

<div class="activacion-productos">
<div class="cabecera dp-flex">
    <p>Código</p>
    <p>Nombre</p>
    <p>Descripcion</p>
    <p>Precio</p>
    <p>Estado</p>
    <p>Imagen</p>


</div>   

<div class="productos-individuales dp-flex ">
    
<p class="centrar-arriba-abajo margenes-izquierda-derecha">1540</p>
<p class="centrar-arriba-abajo margenes-izquierda-derecha">ChocoTorta</p>
<p class="centrar-arriba-abajo margenes-izquierda-derecha">Torta Galleta</p>
<p class="centrar-arriba-abajo margenes-izquierda-derecha">250$</p>
<p class="centrar-arriba-abajo margenes-izquierda-derecha">Activa</p>
<p class="centrar-arriba-abajo margenes-izquierda-derecha"><i class="fas fa-image"></i></p>

<div class="botones-agregar-borrar-nd">
<input type="submit" value="Add" class="centrar-arriba-abajo margenes-izquierda-derecha">
<input type="submit" value="Delete" class="centrar-arriba-abajo margenes-izquierda-derecha"> 
<input type="submit" value="N/D" class="centrar-arriba-abajo margenes-izquierda-derecha">
</div>

</div>

<div class="productos-individuales dp-flex ">
    
    <p class="centrar-arriba-abajo margenes-izquierda-derecha">1540</p>
    <p class="centrar-arriba-abajo margenes-izquierda-derecha">ChocoTorta</p>
    <p class="centrar-arriba-abajo margenes-izquierda-derecha">Torta Galleta</p>
    <p class="centrar-arriba-abajo margenes-izquierda-derecha">250$</p>
    <p class="centrar-arriba-abajo margenes-izquierda-derecha">Activa</p>
    <p class="centrar-arriba-abajo margenes-izquierda-derecha"><i class="fas fa-image"></i></p>
    
    <div class="botones-agregar-borrar-nd">
    <input type="submit" value="Add" class="centrar-arriba-abajo margenes-izquierda-derecha">
    <input type="submit" value="Delete" class="centrar-arriba-abajo margenes-izquierda-derecha"> 
    <input type="submit" value="N/D" class="centrar-arriba-abajo margenes-izquierda-derecha">
    </div>
    
    </div>

    <div class="productos-individuales dp-flex ">
    
        <p class="centrar-arriba-abajo margenes-izquierda-derecha">1540</p>
        <p class="centrar-arriba-abajo margenes-izquierda-derecha">ChocoTorta</p>
        <p class="centrar-arriba-abajo margenes-izquierda-derecha">Torta Galleta</p>
        <p class="centrar-arriba-abajo margenes-izquierda-derecha">250$</p>
        <p class="centrar-arriba-abajo margenes-izquierda-derecha">Activa</p>
        <p class="centrar-arriba-abajo margenes-izquierda-derecha"><i class="fas fa-image"></i></p>
        
        <div class="botones-agregar-borrar-nd">
        <input type="submit" value="Add" class="centrar-arriba-abajo margenes-izquierda-derecha">
        <input type="submit" value="Delete" class="centrar-arriba-abajo margenes-izquierda-derecha"> 
        <input type="submit" value="N/D" class="centrar-arriba-abajo margenes-izquierda-derecha">
        </div>
        
        </div>








</div>






<%- include('partials/footer') %>

</body>

</html>