<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/carrito.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header class="dp-flex">
        <div class="logo">
            <img src="fotocoquita.jpg" alt="">
        </div>



        <div class="dp-flex barra">
            <div class="padding-5">
                <a href="" class="color-marron">HOME</a>
            </div>

            <div class="padding-5">
                <a href="" class="color-marron">PRODUCTOS</a>
            </div>

            <div class="padding-5">
                <a href="" class="color-marron">GALERIA</a>
            </div>

            <div class="padding-5">
                <a href="" class="color-marron">FAQ</a>
            </div>

            <div class="padding-5">
                <a href="" class="color-marron">CONTACTO</a>

            </div>
        </div>

        <div class="dp-flex iconos">

            <div class="padding-7">
                <a href="/registro"></a><i class="fas fa-user color-marron"></i>
            </div>
            <div class="padding-7">
                <a href=""></a><i class="fas fa-shopping-cart color-marron"></i>
            </div>
            <div class="padding-7">
                <a href=""></a><i class="fas fa-sign-in-alt color-marron"></i>
            </div>
        </div>

    </header>

    <div class="carrito dp-flex borde-marron">


        <div class="productos-comprados dp-flex">

            <div class="items dp-flex borde-marron">
                <img src="pastel.jpg" alt="" class="imagenes-carrito">


                <div class="nombre-items color-marron">
                    <p><b>Nombre items</b></p>
                </div>

                <div class="lista-caracteristicas color-marron">
                    <li>Cantidad Personas</li>
                    <li>Pisos</li>
                    <li>Bizcochuelos</li>
                    <li>Relleno</li>
                </div>

                <div class="coste-final color-marron">
                    <p><b>$1500</b></p>
                </div>
            </div>

            <div class="items dp-flex borde-marron">
                <img src="pastel.jpg" alt="" class="imagenes-carrito">


                <div class="nombre-items color-marron">
                    <p><b>Nombre items</b></p>
                </div>

                <div class="lista-caracteristicas color-marron">
                    <li>Cantidad Personas</li>
                    <li>Pisos</li>
                    <li>Bizcochuelos</li>
                    <li>Relleno</li>
                </div>

                <div class="coste-final color-marron">
                    <p><b>$1500</b></p>
                </div>
            </div>

            <div class="items dp-flex borde-marron">
                <img src="pastel.jpg" alt="" class="imagenes-carrito">


                <div class="nombre-items color-marron">
                    <p><b>Nombre items</b></p>
                </div>

                <div class="lista-caracteristicas color-marron">
                    <li>Cantidad Personas</li>
                    <li>Pisos</li>
                    <li>Bizcochuelos</li>
                    <li>Relleno</li>
                </div>

                <div class="coste-final color-marron">
                    <p><b>$1500</b></p>
                </div>
            </div>

        </div>
        <div class="total dp-flex borde-marron">
            <div class="finalizar-compra color-marron">
                <p><b>Elegi la fecha de entrega</b></p>
            </div>

            <div class="icono-calendario borde-marron color-marron">
                <i class="far fa-calendar-alt"></i>

            </div>

            <div class="checkbos color-marron">
                <label><input type="radio" id="local" value="local" name="retiro"> Retirar por local</label><br>
                <label><input type="radio" id="Domicilio" value="Domicilio" name="retiro"> Domicilio</label><br>

            </div>

            <div class=total-apagar>
                <p class="color-marron">Subtotal..................$$</p>
                <p class="color-marron">Costo de envio............$$</p>
            </div>

            <div class="total-grande color-marron">
                <P><B>Total $ 9999</B></P>

            </div>

            <div class="boton-comprar">
                <input type="submit" value="Comprar">
            </div>



        </div>














    </div>




    <footer>
        <div class="contenedor">
            <div class="colum1">
                <b>
                    <div class="row"><label for=""><a href="">Home</a> </label></div>
                    <div class="row"><label for=""><a href="">Productos</a> </label> </div>
                    <div class="row"><label for=""><a href="">Galeria </a></label></div>
                    <div class="row"><label for=""><a href="">FAQ</a></label></div>
                    <div class="row"><label><a href="">Contacto</a></label></div>
                </b>
            </div>

            <div class="colum2">

                <div class="row2"><i class="fas fa-map-marker-alt"></i> Donde estamos</i></div>
                <div class="row2"><i class="fab fa-whatsapp"></i> 99999999</div>
                <div class="row2"><i class="fas fa-phone-alt"></i> Nuestro telefono</div>
                <div class="row2"><i class="fas fa-at"></i>Correo</div>

            </div>

            <div class="colum3">
                <div class="row3"><a href=""><i class="fab fa-facebook-f"></i> </a> </div>
                <div class="row3"><a href=""><i class="fab fa-twitter"></i></a></div>
                <div class="row3"><a href=""><i class="fab fa-instagram"></i> </a></div>
            </div>

            <div class="colum4">
                <h3>Suscribete a nuestro newsletter</h3>
                <label for="Email"></label>
                <input type="email" id="email" name="email" placeholder="Email" />

                <label for="ok"></label>
                <input type="submit" id="ok" name="ok" value="ok" />


            </div>



    </footer>

</body>

</html>