<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Pacifico&family=Roboto&display=swap"
        rel="stylesheet">

</head>

<body>

</body>

</html>
<header class="dp-flex">
    <div class="logo">
        <a href="home"><img src="img/coquita_logo.png" alt=""></a>
    </div>



    <div class="dp-flex barra">
        <div class="padding-5">
            <a href="home" class="color-marron">HOME</a>
        </div>

        <div class="padding-5">
            <a href="productMain" class="color-marron">PRODUCTOS</a>
        </div>

        <div class="padding-5">
            <a href="" class="color-marron">GALERIA</a>
        </div>

        <div class="padding-5">
            <a href="" class="color-marron">FAQ</a>
        </div>

        <div class="padding-5">
            <a href="" class="color-marron">CONTACTO</a>

        </div>
    </div>

    <div class="dp-flex iconos">

        <div class="padding-7">
            <a href="register"><i class="fas fa-user color-marron"></i></a>
        </div>
        <div class="padding-7">
            <a href="productCart"><i class="fas fa-shopping-cart color-marron"></i></a>
        </div>
        <div class="padding-7">
            <a href="" class="color-marron"><i class="fas fa-sign-in-alt color-marron"></i></a>
        </div>
    </div>

</header>