<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Home'}) %>
<link rel="stylesheet" href="/stylesheets/home.css">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<body>
    <%- include('partials/header') %>

    <div class="banner">
        <img src="/images/torta.jpg" alt="">
    </div>

    <div class="contenedor-marron dp-flex">
        <div class="barra-eventos dp-flex">
            <div>
                <img class="img-prod" src="/images/birthday-cake.svg" alt="">
                <a href="/productMain">
                    <p class="p">Cumpleaños<p>
                </a>
            </div>
            <div>
                <img class="img-prod" src="/images/celebration.svg" alt="">
                <a href="/productMain">
                    <p class="p">Eventos</p>
                </a>
            </div>
            <div>
                <img class="img-prod" src="/images/cupcake.svg" alt="">
                <a href="/productMain">
                    <p class="p">Pequenios Gustos</p>
                </a>
            </div>
            <div>
                <img class="img-prod" src="/images/apple-pie.svg" alt="">
                <a href="/productMain">
                    <p class="p">Las de siempre</p>
                </a>
            </div>

        </div>

    </div>

    <div class="promociones d-flex jc-space-bet">
        <div class="nuestra-promo ancho-33">
            <p>Conoce</p>
            <p>nuestras</p>
            <p>promociones</p>
            <img class="torta3" src="/images/sweets.svg" alt="">
        </div>
        <div class="nuestra-promo-2 ancho-33">
            <img class="torta2" src="/images/cupcake.svg" alt="">
            <p>Cajita dia del amigo 1</p>
            <p>Incluye letter cupcake,</p>
            <p>4 brownies y 4 cupcakes</p>
            <p class="precio-promo">$ 1.500</p>
        </div>
        <div class="nuestra-promo-2 ancho-33">
            <img class="torta2" src="/images/cupcake.svg" alt="">
            <p>Cajita dia del amigo 2</p>
            <p>Incluye letter cupcake,</p>
            <p>4 brownies y 4 cupcakes</p>
            <p class="precio-promo">$ 1.500</p>
        </div>
    </div>

    <div class="aboutme d-flex">
        <div>
            <img class="photoab" src="/images/foto_pendiente.png" alt="">
        </div>
        <div class="parrafoab">
            <h3>Sobre Mi</h3>
            <p>

            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima fugiat magni id tenetur enim culpa
                nobis, distinctio alias, ad odit perferendis! Mollitia voluptates error, beatae eaque similique ducimus
                quas? Harum?.. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima fugiat magni id tenetur
                enim culpa nobis, distinctio alias, ad odit perferendis! Mollitia voluptates error, beatae eaque
                similique ducimus quas? Harum?</p>
        </div>
    </div>


    <div class="aboutme-3">

    </div>

    </div>
    </div>

    <%- include('partials/footer') %>

    </div>