<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <header>
       
        
    </header>
    <div class="header d-flex">
        <div class="logo">
            <img class="logo_principal" src="/img/coquita_logo.png" alt="">
        </div>


    </div>

    <div class="banner d-flex">
        <img class="torta1" src="/img/birthday-cake.svg" alt="">
        <p>banner</p>
        

    </div>
    <div class="products d-flex jc-space-bet ">
        <div>
            <img class="torta1" src="/img/birthday-cake.svg" alt="">
            <p class="p">Cumpleanios<p>
        </div>
        <div>
            <img class="torta1" src="/img/celebration.svg" alt=""> 
            <p class="p">Eventos</p>
        </div>
        <div>
            <img class="torta1" src="/img/cupcake.svg" alt=""> 
            <p class="p">Pequenios Gustos</p>
        </div>
        <div>
            <img class="torta1" src="/img/apple-pie.svg" alt=""> 
            <p class="p">Las de siempre</p>
        </div>
    </div>

    <div class="promociones d-flex jc-space-bet">
        <div>
            <p>Conoce Nuestras promociones</p>
            <img class="torta1" src="/img/sweets.svg" alt=""> 
        </div>
        <div>
            <img class="torta1" src="/img/cupcake.svg" alt=""> 
            <p>Cajita dia del amigo 1.</p> 
            <p>Incluye letter cupcake, 4 brownies y 4 cupcakes</p>
            <p class="precio"></p>
        </div>
        <div>
            <img class="torta1" src="/img/cupcake.svg" alt=""> 
            <p>Cajita dia del amigo 2</p> 
            <p>Incluye letter cupcake, 4 brownies y 4 cupcakes</p>
        </div>
    </div>

    <div class="aboutme d-flex">
        <div>
            <img class="photoab" src="/img/foto_pendiente.png" alt="">
        </div>
        <div class="parrafoab">
            <h3>Sobre Mi</h3>
            <p>

            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima fugiat magni id tenetur enim culpa nobis, distinctio alias, ad odit perferendis! Mollitia voluptates error, beatae eaque similique ducimus quas? Harum?</p>
        </div>

    </div>
    
</body>

<footer>
    
</footer>
</html>