<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="dp-flex">
        <div class="logo"> 
        <img src="/img/fotocoquita.jpg" alt="">
        </div>      
        
           
                <div class="dp-flex barra">
                <div class="padding-15">
                <a href="">Home</a>
                </div>
                
                <div class="padding-15">
                <a href="">Productos</a>
                </div>
                
                <div class="padding-15">
                <a href="">Galeria</a>
                </div>
                
                <div class="padding-15">
                <a href="">Faq</a>
                </div>
                
                <div class="padding-15">
                <a href="">Contacto</a>
                
                </div>  
                </div>               
                
            
                <div class="dp-flex iconos">
                
                <div class="padding-15">
                <a href="/registro"></a><i class="fas fa-user"></i>
                </div>  
                <div class="padding-15">
                <a href=""></a><i class="fas fa-shopping-cart"></i>
                </div> 
                <div class="padding-15">
                <a href=""></a><i class="fas fa-sign-in-alt"></i>
                </div>     
            </div>
            
    </header>

    <div class="banner">
        <img src="/img/torta.jpg" alt="">
    </div>

    <div class="contenedor-marron dp-flex">
        <div class="barra-eventos dp-flex">
        <div>
            <img class="img-prod" src="/img/birthday-cake.svg" alt="">
            <p class="p">Cumpleanios<p>
        </div>
        <div>
            <img class="img-prod" src="/img/celebration.svg" alt=""> 
            <p class="p">Eventos</p>
        </div>
        <div>
            <img class="img-prod" src="/img/cupcake.svg" alt=""> 
            <p class="p">Pequenios Gustos</p>
        </div>
        <div>
            <img class="img-prod" src="/img/apple-pie.svg" alt=""> 
            <p class="p">Las de siempre</p>
        </div>

        </div>


    </div>

    <div class="promociones d-flex jc-space-bet">
        <div class="nuestra-promo ancho-33">
            <p>Conoce</p> 
            <p>nuestras</p> 
            <p>promociones</p>
            <img class="torta3" src="/img/sweets.svg" alt=""> 
        </div>
        <div class="nuestra-promo-2 ancho-33">
            <img class="torta2" src="/img/cupcake.svg" alt=""> 
            <p></p>Cajita dia del amigo 1</p> 
            <p>Incluye letter cupcake,</p>
            <p>4 brownies y 4 cupcakes</p>
            <p class="precio-promo">$ 1.500</p>
        </div>
        <div class= "nuestra-promo-2 ancho-33">
            <img class="torta2" src="/img/cupcake.svg" alt=""> 
            <p>Cajita dia del amigo 2</p> 
            <p>Incluye letter cupcake,</p>
            <p>4 brownies y 4 cupcakes</p>
            <p class="precio-promo">$ 1.500</p>
        </div>
    </div>

    <div class="aboutme d-flex">
        <div>
            <img class="photoab" src="/img/foto_pendiente.png" alt="">
        </div>
        <div class="parrafoab">
            <h3>Sobre Mi</h3>
            <p>

            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima fugiat magni id tenetur enim culpa nobis, distinctio alias, ad odit perferendis! Mollitia voluptates error, beatae eaque similique ducimus quas? Harum?.. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima fugiat magni id tenetur enim culpa nobis, distinctio alias, ad odit perferendis! Mollitia voluptates error, beatae eaque similique ducimus quas? Harum?</p>
        </div>
    </div> 
  
        
     <div class="aboutme-3">
         
     </div>
        

            
    
        </div>
    </div> 
        
        <footer>
            <div class="contenedor">
                <div class="colum1">
                    <b>
                    <div class="row"><label for=""><a href="">Home</a> </label></div>
                    <div class="row"><label for=""><a href="">Productos</a> </label>  </div> 
                    <div class="row"><label for=""><a href="">Galeria </a></label></div> 
                    <div class="row"><label for=""><a href="">FAQ</a></label></div>
                    <div class="row"><label><a href="">Contacto</a></label></div>
                    </b>
                </div>
                
                <div class="colum2">
                    
                    <div class="row2"><i class="fas fa-map-marker-alt"></i> Donde estamos</i></div>
                    <div class="row2"><i class="fab fa-whatsapp"></i> 99999999</div>
                    <div class="row2"><i class="fas fa-phone-alt"></i> Nuestro telefono</div>
                    <div class="row2"><i class="fas fa-at"></i>Correo</div>
                    
                </div>
    
                <div class="colum3">
                    <div class="row3"><a href=""><i class="fab fa-facebook-f"></i> </a> </div>
                    <div class="row3"><a href=""><i class="fab fa-twitter"></i></a></div>
                    <div class="row3"><a href=""><i class="fab fa-instagram"></i> </a></div>
                 </div>
                
                 <div class="colum4">
                    <h3>Suscribete a nuestro newsletter</h3>
                    <label for="Email"></label>
                    <input type="email" id="email" name="email" placeholder="Email"/>
                    
                    <label for="ok"></label>
                    <input type="submit" id="ok" name="ok" value="ok"/>
                 
    
                 </div>
    </footer>
    
    </div>