<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coquita</title>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <p>Mi super página aqui........</p>

    <footer>
      <div class="footer-nav-menu">
        <ul>
          <li>Home</li>
          <li>Productos</li>
          <li>Galeria</li>
          <li>FAQ</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="footer-contact">
        <ul>
          <li>Donde estamos</li>
          <li>Nuestro whatsapp</li>
          <li>Nuestro teléfono</li>
          <li>Nuestro mail</li>
        </ul>
      </div>
      <div class="footer-social-media">
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="footer-newsletters">
        <input type="text" name="" id="" placeholder="tu-email@aqui" />
        <button type="submit">OK</button>
      </div>
    </footer>
  </body>
</html>
