<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header class="dp-flex">
        <div class="logo"> 
        <img src="fotocoquita.jpg" alt="">
        </div>
        
        
           
                <div class="dp-flex barra">
                <div class="padding-15">
                <a href="">Home</a>
                </div>
                
                <div class="padding-15">
                <a href="">Productos</a>
                </div>
                
                <div class="padding-15">
                <a href="">Galeria</a>
                </div>
                
                <div class="padding-15">
                <a href="">Faq</a>
                </div>
                
                <div class="padding-15">
                <a href="">Contacto</a>
                
                </div>  
                </div>
                
                
            
                <div class="dp-flex iconos">
                
                <div class="padding-15">
                <a href="/registro"></a><i class="fas fa-user"></i>
                </div>  
                <div class="padding-15">
                <a href=""></a><i class="fas fa-shopping-cart"></i>
                </div> 
                <div class="padding-15">
                <a href=""></a><i class="fas fa-sign-in-alt"></i>
                </div>     
            </div>
            
    </header>

    <div class="banner">
        <img src="torta.jpg" alt="">
    </div>

    <div class="contenedor-marron dp-flex">
        <div class="barra-eventos dp-flex">
            <a href="">Cumpleaños</a>
            <a href="">Eventos</a>
            <a href="">Pequeños Gustos</a>
            <a href="">Las de siempre</a>

        </div>


    </div>


   
</body>
</html>