<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Home'}) %>
<link rel="stylesheet" href="stylesheets/login.css" />
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<!-- Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />


<body>
  <%- include('partials/header') %>

  <section>
    <div class="section-login-container">
      <p class="section-login-title">Mi cuenta</p>
      <div class="inputs">
        <i class="fas fa-envelope section-input-icon"></i>
        <input type="text" name="" id="" placeholder="Email" />
      </div>
      <div class="inputs">
        <i class="fas fa-key section-input-icon"></i>
        <input type="password" name="" id="" placeholder="Contraseña" class="section-input" />
      </div>
      <div class="inputs">
        <input type="checkbox" name="remember-me" id="" placeholder="Recordar usuario y contraseña"
          class="section-input" />
        <label class="remember-me" for="">Recordar usuario y contraseña</label>
      </div>
      <div class="login">
        <p class="section-btn-login"><a href="/">Ingresar</a></p>
      </div>
      <div class="section-links">
        <a href="/forget-my-password">Olvidé mi contraseña</a>
      </div>
      <div class="section-links">
        <a href="/register">No estoy registrado</a>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>

</body>

</html>