<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coquita | Login</title>
    <!-- CSS Style -->
    <link rel="stylesheet" href="styles/login.css" />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
  </head>
  <body>
    <section>
      <div class="section-login-container">
        <p class="section-login-title">Mi cuenta</p>
        <div>
          <i class="fas fa-envelope"></i>
          <input type="text" name="" id="" placeholder="Email" />
        </div>
        <div>
          <i class="fas fa-key"></i>
          <input type="password" name="" id="" placeholder="Contraseña" />
        </div>
        <div class="login">
          <p class="section-btn-login">Ingresar</p>
        </div>

        <p class="section-forget-my-password">Olvidé mi contraseña</p>
      </div>
    </section>
    <!-- <footer>
      <div class="footer-nav-menu">
        <ul>
          <li>Home</li>
          <li>Productos</li>
          <li>Galeria</li>
          <li>FAQ</li>
          <li>Contacto</li>
        </ul>
      </div>
      <div class="footer-contact">
        <ul>
          <li>Donde estamos</li>
          <li>Nuestro whatsapp</li>
          <li>Nuestro teléfono</li>
          <li>Nuestro mail</li>
        </ul>
      </div>
      <div class="footer-social-media">
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="footer-newsletters">
        <input type="text" name="" id="" placeholder="tu-email@aqui" />
        <button type="submit">OK</button>
      </div>
    </footer> -->
  </body>
</html>
