<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Coquita - Page not found :('}) %>
<link rel="stylesheet" href="/stylesheets/not-found.css">

<body>
    <div class="container">
        <img class="not-found" src="/images/not-found.png" alt="page not found">
        <a href="home">Volver al home</a>
    </div>

</body>

</html>