<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100&family=Pacifico&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../public/styles/productDetail.css" />
    <link rel="stylesheet" href="../public/styles/header.css">
    <link rel="stylesheet" href="../public/styles/footer.css">
  </head>
  <body>
    <header class="dp-flex">
      <div class="logo"> 
      <img src="../public/img/coquita_logo.png" alt="">
      </div>
      
      
         
              <div class="dp-flex barra">
              <div class="padding-5">
              <a href="" class="color-marron">HOME</a>
              </div>
              
              <div class="padding-5">
              <a href="" class="color-marron">PRODUCTOS</a>
              </div>
              
              <div class="padding-5">
              <a href="" class="color-marron">GALERIA</a>
              </div>
              
              <div class="padding-5">
              <a href="" class="color-marron">FAQ</a>
              </div>
              
              <div class="padding-5">
              <a href="" class="color-marron">CONTACTO</a>
              
              </div>  
              </div>
              
              <div class="dp-flex iconos">
              
              <div class="padding-7">
              <a href="/registro"></a><i class="fas fa-user color-marron"></i>
              </div>  
              <div class="padding-7">
              <a href=""></a><i class="fas fa-shopping-cart color-marron"></i>
              </div> 
              <div class="padding-7">
              <a href="" class="color-marron"><i class="fas fa-sign-in-alt color-marron"></i></a>
              </div>     
          </div>
          
  </header> 
    
    <section>

      <article class="compra-producto">
        
        <div class="icono-torta">
          <a href="" class="icono-link">
        <img src="../public/img/birthday-cake.svg" width="60px" height="60px">
        <p class="texto-icono">Cumpleaños</p>  
          </a>
      </div>

        <div class="contenedor-torta">
          <img src="../public/img/torta-babyyoda.png" width="250px" height="250px" class="foto-torta">
        </div>

        <div class="opciones">
          <div class="texto-precio">
          <div class="texto">

          
          <p class="titulo-producto">Torta Baby Yoda</p>

          <p class="seleccion">Selecciona tus opciones:</p>
          
          <div class="cant-personas">
            <p class="preg-personas">Cantidad de personas</p>
            <i class="fas fa-arrow-circle-down"></i>
          </div>

          <div class="pisos">
            <p class="preg-pisos">Cantidad de pisos</p>
            <i class="fas fa-arrow-circle-down"></i>

          </div>
         
          <div class="bizcochuelo">
            <p class="preg-bizco">Tipo de bizcochuelo</p>
            <i class="fas fa-arrow-circle-down"></i>

          </div>

          <div class="relleno">
            <p class="preg-relleno">Tipo de relleno</p>
            <i class="fas fa-arrow-circle-down"></i>

          </div>

          </div>
      
          <div class="precio">
            <p>$ 3.500</p>
          </div>
        </div>

  
        <div class="boton-comprar">
          <p class="carrito"><a href="" class="boton-carrito">Agregar al carrito</a></p>
        </a>

      </div>
      </div>
      
 






      </article>

      <article class="ingredientes">
        <div class="caja-ingredientes">
          <p class="titulo">Ingredientes</p>

          <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam minima dignissimos veritatis maiores aperiam magni porro ad voluptatum distinctio mollitia assumenda facilis, pariatur sequi nemo soluta tempore tenetur inventore perferendis!</p>
        </div>
        
        <div class="caja-especificaciones">
          <p class="titulo">Especificaciones</p>
          <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. In atque animi itaque iure, earum similique! Magnam sint praesentium quia rerum quas, cupiditate eveniet ab dicta, minus saepe molestias, ex aut.</p>
        </div>


      </article>
    </section>


      <div class="podes color-fondo">
        <h1 class="letra-fredoka">Podes agregar</h1>

        <div class="contenedor-imagenes dp-flex">
        
            <i class="fas fa-long-arrow-alt-left flechas margen-izquierda"></i>
    
    

    <div class="contenedor-postres">
        <a href="">
        <img src="../public/img/cupcake.svg" width="100px" height="100px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Cupcakes</h2>
        <h3 class="letra-roboto color-chocolate">$50 c/u</h3>
        <p class="contenedor-agregar"><a href="">Agregar</p></a>
    </div>
         
    <div class="contenedor-postres">
        <a href="">
        <img src="../public/img/cupcake.svg" width="50px" height="50px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Brownies</h2>
        <h3 class="letra-roboto color-chocolate">$50 c/u</h3>
        <p class="contenedor-agregar"><a href="">Agregar</p></a>
    </div>
         
    <div class="contenedor-postres">
        <a href="">      
        <img src="../public/img/apple-pie.svg" width="50px" height="50px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Lemon Pie</h2>
        <h3 class="letra-roboto color-chocolate">$750 c/u</h3>
        <p class="contenedor-agregar"><a href="">Agregar</p></a>
    </div>
         
    <div class="contenedor-postres">
        <a href="">
        <img src="../public/img/apple-pie.svg" width="50px" height="50px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Havenette</h2>
        <h3 class="letra-roboto color-chocolate">$750 c/u</h3>
        <p class="contenedor-agregar"><a href="">Agregar</p></a>
    </div>





    <i class="fas fa-long-arrow-alt-right flechas margen-derecha"></i>
</div>
   
  
    
    
    
    
    </div>











    <footer>
      <div class="contenedor">
          <div class="colum1">
              <b>
              <div class="row"><label for=""><a href="">Home</a> </label></div>
              <div class="row"><label for=""><a href="">Productos</a> </label>  </div> 
              <div class="row"><label for=""><a href="">Galeria </a></label></div> 
              <div class="row"><label for=""><a href="">FAQ</a></label></div>
              <div class="row"><label><a href="">Contacto</a></label></div>
              </b>
          </div>
          
          <div class="colum2">
              
              <div class="row2"><i class="fas fa-map-marker-alt"></i> Donde estamos</i></div>
              <div class="row2"><i class="fab fa-whatsapp"></i> 99999999</div>
              <div class="row2"><i class="fas fa-phone-alt"></i> Nuestro telefono</div>
              <div class="row2"><i class="fas fa-at"></i>Correo</div>
              
          </div>

          <div class="colum3">
              <div class="row3"><a href=""><i class="fab fa-facebook-f"></i> </a> </div>
              <div class="row3"><a href=""><i class="fab fa-twitter"></i></a></div>
              <div class="row3"><a href=""><i class="fab fa-instagram"></i> </a></div>
           </div>
          
           <div class="colum4">
              <h3>Suscribete a nuestro newsletter</h3>
              <label for="Email"></label>
              <input type="email" id="email" name="email" placeholder="Email"/>
              
              <label for="ok"></label>
              <input type="submit" id="ok" name="ok" value="ok"/>
           

           </div>



  </footer>
  
    
    



  </body>
</html>
