<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coquita | Login</title>
  <!-- CSS Style -->
  <link rel="stylesheet" href="styles/register.css" />
  <link rel="stylesheet" href="styles/header2.css" />
  <link rel="stylesheet" href="styles/footer2.css" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>

<body>
  <header>
    <div class="menu-logo-container align-items-center mr-left-20">
      <a href="" class="mr-right-10">
        <i class=" fas fa-bars"></i>
      </a>
      <a href="/" class="mr-right-10">
        <img class="logo" src="/img/coquita_logo.png" alt="">
      </a>

      <div class="container d-flex">
        <div class="search-container">
          <a href="">
            <i class="icons fas fa-search search-icon"></i>
          </a>

        </div>
        <div class="user-bag-container">
          <a href="" class="mr-right-10">
            <i class="far fa-user user-icon icons"></i>
          </a>
          <a href="/carrito" class="mr-right-10">
            <i class="fas fa-shopping-bag icons"></i>
          </a>

          <span class="bold icons">0</span>
        </div>



      </div>

      <!-- <div class="icon-user-cart d-flex justify-content-end">
                  
                  
              </div> -->

    </div>

    </div>

  </header>

  <section>
    <div class="section-login-container">
      <p class="section-login-title">Mi cuenta</p>
      <div class="inputs">
        <i class="fas fa-user section-input-icon"></i>
        <input type="text" name="" id="" placeholder="Nombre y Apellido" />
      </div>
      <div class="inputs">
        <i class="fas fa-calendar-alt section-input-icon"></i>
        <input type="text" name="" id="" placeholder="Fecha de nacimiento" />
      </div>

      <div class="inputs">
        <i class="fas fa-envelope section-input-icon"></i>
        <input type="text" name="" id="" placeholder="Email" />
      </div>
      <div class="inputs">
        <i class="fas fa-key section-input-icon"></i>
        <input type="password" name="" id="" placeholder="Contraseña" class="section-input" />
      </div>
      <div class="inputs">
        <i class="fas fa-key section-input-icon"></i>
        <input type="password" name="" id="" placeholder="Confirmar contraseña" class="section-input" />
      </div>
      <div class="login">
        <p class="section-btn-login"><a href="/">Crear cuenta</a></p>
      </div>
      <div class="section-links">
        <a href="/login">Ya estoy registrado</a>
      </div>
    </div>
  </section>
  <footer>
    <div class="contenedor">
      <!-- <div class="colum">
        <b>
          <div class="row"><label for=""><a href="">Home</a> </label></div>
          <div class="row"><label for=""><a href="">Productos</a> </label> </div>
          <div class="row"><label for=""><a href="">Galeria </a></label></div>
          <div class="row"><label for=""><a href="">FAQ</a></label></div>
          <div class="row"><label><a href="">Contacto</a></label></div>
        </b>
      </div> -->

      <div class="contact">
        <div class="row2"><i class="fas fa-map-marker-alt"></i> Donde estamos</i></div>
        <div class="row2"><i class="fab fa-whatsapp"></i> 99999999</div>
        <div class="row2"><i class="fas fa-phone-alt"></i> Nuestro telefono</div>
        <div class="row2"><i class="fas fa-at"></i>Correo</div>

      </div>

      <div class="socialMedia">
        <div class="row3"><a href=""><i class="fab fa-facebook-f"></i> </a> </div>
        <div class="row3"><a href=""><i class="fab fa-twitter"></i></a></div>
        <div class="row3"><a href=""><i class="fab fa-instagram"></i> </a></div>
      </div>

      <div class="newsletter">
        <div>
          <h3>Suscribete a nuestro newsletter</h3>
        </div>
        <label for="Email"></label>
        <input type="email" id="email" name="email" placeholder="Email" />
        <input type="submit" id="ok" name="ok" value="ok" class="mr-left-10 mr-top-10" />


      </div>

    </div>

  </footer>
</body>

</html>