<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title:"Carrito de compras"}) %>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<link rel="stylesheet" href="stylesheets/register.css">


<body>
  <%- include('partials/header') %>
  <section>
    <div class="section-login-container">
      <p class="section-login-title">Mi cuenta</p>
      <div class="inputs">
        <i class="fas fa-user section-input-icon"></i>
        <input type="text" name="" id="" placeholder="Nombre y Apellido" />
      </div>
      <div class="inputs">
        <i class="fas fa-calendar-alt section-input-icon"></i>
        <input type="text" name="" id="" placeholder="Fecha de nacimiento" />
      </div>

      <div class="inputs">
        <i class="fas fa-envelope section-input-icon"></i>
        <input type="text" name="" id="" placeholder="Email" />
      </div>
      <div class="inputs">
        <i class="fas fa-key section-input-icon"></i>
        <input type="password" name="" id="" placeholder="Contraseña" class="section-input" />
      </div>
      <div class="inputs">
        <i class="fas fa-key section-input-icon"></i>
        <input type="password" name="" id="" placeholder="Confirmar contraseña" class="section-input" />
      </div>
      <div class="login">
        <p class="section-btn-login"><a href="/">Crear cuenta</a></p>
      </div>
      <div class="section-links">
        <a href="/login">Ya estoy registrado</a>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>
</body>

</html>