<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Home'}) %>
<link rel="stylesheet" href="../stylesheets/login.css" />
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<!-- Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />


<body>
  <%- include('../partials/header') %>

  <section class="section-login-container">

    <form action="/user/login" method="POST">
      <p class="section-login-title">Mi cuenta</p>
      <div class="inputs">
        <label for="email">Email</label>
        <input type="text" name="email" id="" class="section-input">
      </div>
      <div class="inputs">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="" class="section-input">
      </div>
      <div class="remember">
        <input type="checkbox" name="rememberMe" id="" placeholder="Recordar usuario y contraseña" class="check">
        <label class="remember-me" for="">Recordar usuario y contraseña</label>
      </div>
      <div class="login">
        <button type="submit">Ingresar</button>
      </div>
      <div class="section-links">
        <a href="/forget-my-password">Olvidé mi contraseña</a>
      </div>
      <div class="section-links">
        <a href="/user/register">No estoy registrado</a>
      </div>
      <!-- MOSTRAR ERRORES DEL FORM -->
      <% if(typeof errors!='undefined'){ %>
      <ul>
        <% for (let i=0; i < errors.length; i++) { %>
        <li style="color: red;">
          <i class="fas fa-exclamation-circle"></i><%= errors[i].msg %>
        </li>
        <% } %>
      </ul>
      <% } %>
    </form>
    </div>
  </section>

  <%- include('../partials/footer') %>

</body>

</html>