<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:"Register"}) %>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<link rel="stylesheet" href="../stylesheets/register.css">


</head>

<body>
  <%- include('../partials/header') %>
  <section class="section-login-container" >

    <form action="/user/register" method="POST" enctype="application/x-www-form-urlencoded" id="formulario">
      <p class="section-login-title">Crea tu cuenta</p>
      
      <div class="inputs" id="grupo_email" class="formulario__grupo">
        <label for="email" class="formulario__label" >Email</label>
        
        <input type="text" name="email" id="Email" placeholder="email@aqui" class="form-control formulario__input" required />
        
        
          <p class="formulario__input-error">El formato de Email no es valido</p>
        
        </div>
      
      <div class="inputs" id="grupo_password" class="formulario_grupo">
        <label for="password" class="formulario__label">Contraseña</label>
        
        <input type="password" name="password" id="password" placeholder="" class="section-input form-control formulario__input" />
        <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
      </div>
      
      
      
      <div class="inputs" id="grupo_password2" class="formulario_grupo">
        <label for="password2" class="formulario__label">Contraseña</label>
        
        <input type="password" name="password2" id="password2" placeholder="" class="section-input form-control formulario__input" />
        <p class="formulario__input-error">Las contraseñas no coinciden.</p>
      </div>
     
     
      <div class="login">
        <!-- <p class="section-btn-login"><a type="submit" class="color-blanco">Crear cuenta</a></p> -->
        <button type="submit"  class="formulario">Registrarme</button>
      </div>
      <div class="section-links">
        <a href="login">Ya estoy registrado</a>
      </div>
    
    </form>


  </section>

  <%- include('../partials/footer') %>
</body>









<script>

const formulario = document.getElementById("formulario");
const inputs = document.querySelectorAll("#formulario input");

const expresiones = {
	password: /^.{4,12}$/, // 4 a 12 digitos.
	email: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
	
};

let submit = document.querySelector("button[type=submit]");

const campos = {
  password: false,
  email: false
}



const validarFormulario = (e)=>{
  switch(e.target.name){
    case "email":
    validarCampo(expresiones.email, e.target, "email");
    break;
    case "password":
    validarCampo(expresiones.password, e.target, "password");
    validarPassword2();
    break;
    case "password2":
    
    validarPassword2();
    break;
  }
}

/*validaciones para los inputs*/
let validarCampo = (expresion, input, campo)=>{
  if(expresion.test(input.value)){
      document.getElementById(`grupo_${campo}`).classList.remove("formulario__grupo-incorrecto");
      document.getElementById(`grupo_${campo}`).classList.add("formulario__grupo-correcto");
      document.querySelector(`#grupo_${campo} .formulario__input-error`).classList.add("formulario__input-error-activo")
      document.querySelector(`#grupo_${campo} .formulario__input-error`).classList.remove("formulario__input-error-activo")
     campos[campo]=true
     console.log(campos)
    }else{
      document.getElementById(`grupo_${campo}`).classList.add("formulario__grupo-incorrecto");
      document.getElementById(`grupo_${campo}`).classList.remove("formulario__grupo-correcto");
      document.querySelector(`#grupo_${campo} .formulario__input-error`).classList.add("formulario__input-error-activo")
      campos[campo]=false;
      console.log(campos)

    };
}

/*validacion para confirmar la contrasena*/
let validarPassword2 = ()=>{
  const inputPassword1= document.getElementById("password");
  const inputPassword2= document.getElementById("password2");



if(inputPassword1.value !== inputPassword2.value){
      document.getElementById("grupo_password2").classList.add("formulario__grupo-incorrecto");
      document.getElementById("grupo_password2").classList.remove("formulario__grupo-correcto");
      document.querySelector("#grupo_password2 .formulario__input-error").classList.add("formulario__input-error-activo")
      campos["password"] = false;
    }else{
    document.getElementById("grupo_password2").classList.remove("formulario__grupo-incorrecto");
    document.getElementById("grupo_password2").classList.add("formulario__grupo-correcto");
    document.querySelector("#grupo_password2 .formulario__input-error").classList.remove("formulario__input-error-activo")
    campos["password"] = true;
    
  }
};



inputs.forEach((input)=>{
  input.addEventListener("keyup",validarFormulario )
  input.addEventListener("blur",validarFormulario )

});


/*evento de botton para poder enviar la informacion*/
formulario.addEventListener("submit",(e)=>{ 
  e.preventDefault();

  if (campos.email && campos.password){
    
    formulario.reset();
  }
})




</script>
</html>