<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:"Register"}) %>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<link rel="stylesheet" href="../stylesheets/register.css">


<body>
  <%- include('../partials/header') %>
  <section class="section-login-container">

      <form action="/register" method="POST" id="register" enctype="application/x-www-form-urlencoded">
        <p class="section-login-title">Crea tu cuenta</p>
        <div class="inputs">
          <label for="email">Email</label>
          <input type="text" name="email" id="" placeholder="" />
        </div>
        <div class="inputs">
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="" placeholder="" class="section-input" />
        </div>
        <div class="inputs">
          <label for="password">Repetí la contraseña</label>
          <input type="password" name="password2" id="" placeholder="" class="section-input" />
        </div>
        <div class="login">
          <!-- <p class="section-btn-login"><a type="submit" class="color-blanco">Crear cuenta</a></p> -->
          <button type="submit" form="register">Registrarme</button>
        </div>
        <div class="section-links">
          <a href="/login">Ya estoy registrado</a>
        </div>
        <!-- MOSTRAR ERRORES DEL FORM -->
        <% if(typeof errors!='undefined'){ %>
        <ul>
          <% for (let i=0; i < errors.length; i++) { %>
          <li style="color: red;">
            <i class="fas fa-exclamation-circle"></i><%= errors[i].msg %>
          </li>
          <% } %>
        </ul>
        <% } %>
      </form>


  </section>

  <%- include('../partials/footer') %>
</body>

</html>