<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:"Register"}) %>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<link rel="stylesheet" href="../stylesheets/register.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.17/validator.min.js"
  integrity="sha512-p1b+doSyVwyKqVTZeU1+XJtjpBSkhllBca2L6QTxPUjZZ0ELeZIHkAeQdtfNulbXxLdCwN4uKYGPpp78xeqwfQ=="
  crossorigin="anonymous"></script>
<script defer src="/js/validator.js"></script>
</head>

<body>
  <%- include('../partials/header') %>
  <section class="section-login-container">

    <form action="/user/register" method="POST" enctype="application/x-www-form-urlencoded">
      <p class="section-login-title">Crea tu cuenta</p>
      <div class="inputs">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="email@aqui" class="form-control" required />
      </div>
      <div class="inputs">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" placeholder="" class="section-input form-control" />
      </div>
      <div class="inputs">
        <label for="password">Repetí la contraseña</label>
        <input type="password" name="password2" id="confirm-password" placeholder=""
          class="section-input form-control" />
      </div>
      <div class="login">
        <!-- <p class="section-btn-login"><a type="submit" class="color-blanco">Crear cuenta</a></p> -->
        <button type="submit" disabled="true">Registrarme</button>
      </div>
      <div class="section-links">
        <a href="login">Ya estoy registrado</a>
      </div>
      <!-- MOSTRAR ERRORES DEL FORM -->
      <% if(typeof errors!='undefined'){ %>
      <ul>
        <% for (let i=0; i < errors.length; i++) { %>
        <li style="color: red;">
          <i class="fas fa-exclamation-circle"></i><%= errors[i].msg %>
        </li>
        <% } %>
      </ul>
      <% } %>
    </form>


  </section>

  <%- include('../partials/footer') %>
</body>

</html>