.dp-flex{display: flex;}

.direccion-flex{
    justify-content: center;
}
.nuevo-producto{
font-family: pacifico;
color: #8C4B3C;
width: 90%;
height: 150px;
border: solid  #8C4B3C 1px;
margin-top: 2%; 
margin-left: auto;
margin-right: auto;
background-color:#f2eded;}

.codigo-producto{
    font-size: 20px;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
    
}

.nombre-producto{
    font-size: 20px;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
    
}
.agregar-producto{
    font-size: 20px;
    margin-right: 0%;
    margin-top: auto;
    margin-bottom: auto;
    
}


/* Empieza La segunda division la mas grande */ 

.activacion-productos{
    color: #8C4B3C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: 600px;
    width: 90%;
    border: solid 1px #8C4B3C;
    margin-bottom: 2%;}


.cabecera{
    font-family: pacifico;
    color: #8C4B3C;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-evenly;
    padding-right: 20%;
}

.productos-individuales{
margin-top: 3%;
background-color:#f2eded;
height: 10%;
width: 98%;
margin-left: auto;
margin-right: auto;
border: #8C4B3C solid 1px;
justify-content: flex-start;
padding-right: 20%;
font-size: 20px;}

.productos-individuales i{ font-size: 35px;
margin-right: 1%;}

.margenes-izquierda-derecha{margin-left: 8%;
    margin-right: 2%;}

.centrar-arriba-abajo{margin-top: auto; margin-bottom: auto;}



.botones-agregar-borrar-nd{margin-left: 5%;
display: flex;}


@media (max-width: 1024px){
    .margenes-izquierda-derecha{margin-left: 8%;
        margin-right: 0%;}
}

@media (max-width: 768px){
    .margenes-izquierda-derecha{margin-left: 6%;
        margin-right: 0%;}
}

@media (max-width:425px){
    .codigo-producto{
        font-size: 15px;
        margin-right: 0%;}
      
    .codigo-producto input{width: 50%;}

    .nombre-producto{
        font-size: 15px;
        margin-right: 0%;}
      
    .nombre-producto input{width: 50%;}

    .agregar-producto{
        font-size: 15px;
        margin-right: 0%;}
      
    .agregar-producto input{width: 80%;}
    
    .cabecera{font-size: 15px;}

    .productos-individuales{font-size: 11px;}

    .productos-individuales i {font-size: 15px;}

    .botones-agregar-borrar-nd{flex-direction: column;}
    .botones-agregar-borrar-nd input{font-size:10px;
    height: 15px;}
}

@media (max-width:375px)
{
    .productos-individuales{font-size: 8px;}
    .cabecera{font-size: 10px;}
    
}


































/*

.acciones-nuevos-productos{
    font-family: "Roboto";
    background-color:#f2eded;
    color: #8C4B3C;
    border: solid 1px #8C4B3C;
    width: 95%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
    
    
    
    
}

/*
.paddin10{
    
    padding-left: 8%;
    padding-right: 8%;}
*/




/*

.todos{
    font-family: "Roboto";
    margin-top: auto;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: auto;
}

.todos p{ 
 margin-left: 15%;
  margin-right: 5%;
}

.todos i{
    font-size: 30px;
    margin-left: 15%;
    margin-right: 10%;
}


.todos input{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
    width: 15%;
    height: 10%;
}



