*{padding: 0%; margin: 0%; box-sizing: border-box;}

.dp-flex{display: flex;}



    /*carrito */ 

.carrito{
    width: 80%;
    height: 800px;
    background-color: #f0ecec;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.borde-marron{border: solid 1px #8C4B3C;}


.items{
    width: 60%;
    background-color: white;
    height: 40%;
    margin-left: 5%;
    margin-top: 5%;}

.imagenes-carrito{
    width: 12%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.nombre-items{
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-family: 'Fredoka One', cursive;
}

.lista-caracteristicas{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.lista-caracteristicas li{
    list-style:  none;
}

.coste-final{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    font-family: 'Fredoka One', cursive;
}

.productos-comprados{
    flex-direction: column;}

.total{
    width: 23%;
    height: auto;
    background-color: white;
    margin-left: 55%;
    position: absolute;
    margin-top: 4%;
    flex-direction: column;}

.finalizar-compra{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;}

.icono-calendario{
    text-align: center;
    margin-top: 10%;
    font-size: 120px;
    margin-left: 10%;
    margin-right: 10%;}

.checkbos{
    margin-left:10% ;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.checkbos input{
    border-radius: 10%;
}

.total-apagar{
    text-align: center;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
}

.total-grande{
text-align: center;
font-family: 'Roboto', sans-serif;
}


.boton-comprar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.boton-comprar input{
    margin-left: -25%;
    width: 150%;
    background-color:#8C4B3C;
    height: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: white;
    border-color:#f0ecec;
}


@media(max-width:768px){

    .coste-final{margin-left: 0%;
    font-size: 10px;}
    .total-apagar{font-size: 10px;}

    .boton-comprar{
        width: 50%;
    }
    .lista-caracteristicas{
        font-size: 10px;
    }

    .nombre-items{
        font-size: 10px;
    }

    .icono-calendario{
        font-size: 50px;
    }
}