*{padding: 0%; margin: 0%; box-sizing: border-box;  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;}

.dp-flex{display: flex;}

#start i{color: #8C4B3C;}
#start{
    color: #8C4B3C;
    border-color: #8C4B3C;
    margin-left: auto;
    margin-right: auto;
}

.total{
    height: 450px;
}

.eliminar-producto{
   margin-left: 100%;
    background-color:pink;
    color: white;
}


@media(min-width:768px){
    /*carrito */ 

.carrito{
    width: 80%;
    background-color: #f0ecec;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

.borde-marron{border: solid 1px #8C4B3C;}


.items{
    width: 90%;
    background-color: white;
    height: 8%;
    margin-left: 1%;
    margin-top: 1%;}

.items:nth-child(1){
    margin-top: 0px;
}

.items .imagenes-carrito{
    width: 20%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
}

.nombre-items{
    width: 13%;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-family: 'Fredoka One', cursive;
}

.lista-caracteristicas{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.lista-caracteristicas li{
    list-style:  none;
}

.coste-final{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    font-family: 'Fredoka One', cursive;
    flex-direction: column;
}

.productos-comprados{
    flex-direction: column;
    height: 50%;
    margin-bottom: 1%;
    margin-top: 1%;}

.total{
    width: 50%;
    height: 450px;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    flex-direction: column;}

.finalizar-compra{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;}

.icono-calendario{
    text-align: center;
    margin-top: 10%;
    font-size: 120px;
    margin-left: 10%;
    margin-right: 10%;}

.checkbos{
    margin-left:10% ;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.checkbos input{
    border-radius: 10%;
}

.total-apagar{
    text-align: center;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
}

.total-grande{
text-align: center;
font-family: 'Roboto', sans-serif;
}


.boton-comprar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.boton-comprar input{
    margin-left: -25%;
    width: 150%;
    background-color:#8C4B3C;
    height: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: white;
    border-color:#f0ecec;
}

}
@media(max-width:768px){

    /*carrito */ 

    .carrito{
        width: 100%;
        background-color: #f0ecec;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .borde-marron{border: solid 1px #8C4B3C;}
    
    
    .items{
        width: 90%;
        background-color: white;
        height: 8%;
        margin-left: 1%;
        margin-top: 1%;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;}
    
    .items:nth-child(1){
        margin-top: 0px;
    }
    
    .items .imagenes-carrito{
        width: 20%;
        height: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
    }
    
    .nombre-items{
        width: 50%;
        margin-top:auto;
        margin-bottom: auto;
        font-family: 'Fredoka One', cursive;
        margin-left: 20px;
    }
    
    .lista-caracteristicas{
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }
    
    .lista-caracteristicas li{
        list-style:  none;
    }

    
    .coste-final{
        width: 40%;
        margin-top: auto;
        margin-bottom: auto;
        font-family: 'Fredoka One', cursive;
        align-items: center;
        flex-direction: column;
    }
    
    .productos-comprados{
        flex-direction: column;
        height: 50%;
        margin-bottom: 1%;
        margin-top: 1%;
    align-items: center;}
    
    .total{
        width: 90%;
        height: auto;
        background-color: white;
        margin-left: 5%;
        margin-bottom: 1%;
        flex-direction: column;}
    
    .finalizar-compra{
        margin-left: auto;
        margin-right: auto;
        margin-top: 8%;
        font-family: 'Fredoka One', cursive;
        font-size: 15px;}
    
    .icono-calendario{
        text-align: center;
        margin-top: 10%;
        font-size: 120px;
        margin-left: 10%;
        margin-right: 10%;}
    
    .checkbos{
        margin-left:10% ;
        margin-top: 5%;
        font-family: 'Roboto', sans-serif;
    }
    
    .checkbos input{
        border-radius: 10%;
    }
    
    .total-apagar{
        text-align: center;
        margin-top: 10%;
        font-family: 'Roboto', sans-serif;
    }
    
    .total-grande{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }
    
    
    .boton-comprar{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    
    .boton-comprar input{
        margin-left: -25%;
        width: 150%;
        background-color:#8C4B3C;
        height: 50px;
        font-family: 'Pacifico', cursive;
        font-size: 24px;
        color: white;
        border-color:#f0ecec;
    }
}