*{padding: 0%; margin: 0%; box-sizing: border-box;}

body{
    background-color: #EEE0C9;
}

.dp-flex{display: flex;}

h1{
    font-size: 25px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    margin-left: 40px;
    width: 33%;
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
    margin-left: 35%;
}



.contenedor-grande{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: #F1F0E8;
    border: 1px solid #40241B;
    width: 50%;
    margin-bottom: 15px;
    padding: 20px;
}

.contenedor-grande img{
    box-shadow: 2px 5px 7px #642206;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    width: 40%;
    height: 40%;
    flex-grow: 1;
}

.formulario{
    flex-direction: column;
    flex-grow: 2;
}

.datos{
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    
}

.datos input[type=number]::-webkit-inner-spin-button, 
.datos input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
.datos input[type=number] { -moz-appearance:textfield; }

.datos input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;}

.boton-comprar {
    font-family: pacifico;
    font-size: 20px;
    display: flex;
    color: #F3ECE9;;
    align-self: center;
    background-color: #E8ABAA;
    border-radius: 3px;
    padding: 0% 5%;
    box-shadow: 2px 5px 7px #CBA3A2;
    height: 50px;
    
}

/*.espacio-botones{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/

.margen-de-boton{

    margin-left: 21%;
    margin-right: 17%;
}


.guardar-producto{
    box-shadow: 2px 5px 7px #CBA3A2;
    font-family: pacifico;
    color: #F3ECE9;;
    font-size: 15px;
    background-color: #CBA3A2; 
    height: 50px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.margen-tres{margin: 3%;}


@media (max-width: 900px){ /*mobile*/
body{
    background-color: #EEE0C9;
}

.dp-flex{display: flex;}

h1{
    font-size: 20px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    margin-left: 00px;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
}

.contenedor-grande{
    margin-top: 2%;
    background-color: #F1F0E8;
    border: 1px solid #40241B;
    width: 95%;
    margin-bottom: 15px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.contenedor-grande img{
    box-shadow: 2px 5px 7px #642206;
    width: 60%;
    height: 60%;
}

.formulario{
    width: 100%;
    align-items: center;
}
.datos{
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    width: 100%;
    
}

.datos input[type=number]::-webkit-inner-spin-button, 
.datos input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
.datos input[type=number] { -moz-appearance:textfield; }

.datos input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;}

.boton-comprar {
    font-family: pacifico;
    font-size: 20px;
    display: flex;
    color: #F3ECE9;;
    align-self: center;
    background-color: #E8ABAA;
    border-radius: 3px;
    padding: 0% 5%;
    box-shadow: 2px 5px 7px #CBA3A2;
    height: 50px;
    
}

.espacio-botones{
    margin-top: 10px;
}

.margen-de-boton{
    margin-top: 10px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}


.guardar-producto{

    font-family: pacifico;
    color: #F3ECE9;;
    font-size: 15px;
    background-color: #CBA3A2; 
    height: 50px;
    width: 250px;
    margin-top: 5px;
    align-items: center;
}

}


