a:hover{
    color: crimson;
}

i:hover{
    color: crimson;
}

.contenedor{
    background-color: #5f260d;
    height: 200px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #f1ecec;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.colum1{
    margin-top: 10px;
    margin-bottom: 12px;
    flex-grow: 2;
    margin-left: 15%;
}


.colum1 a{
    color: #f1ecec;
    text-decoration: none;
    
}

.colum1 li{
    list-style: none;
}

.colum1 .row{
    
    margin-bottom: 10px;
    
}

.colum2{
    margin-top: 10px;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 2;
}

.colum2 .row2{
    margin: 10px;
    
}

.colum2 i{
    font-size: 25px;
    width: 35px;
}

.colum3{
    margin-top: 10px;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}

.colum3 .row3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    
}
.colum3 a{
   color: #f1ecec;
}


.colum4{
    margin-top: 10px;
    margin-right: 8%;
    margin-bottom: auto;
    font-family: 'Pacifico', cursive;
    flex-grow: 2;
}

.colum4 p{
    margin-left: 90px;
}

.search{
    padding: 3%;
    padding-top: 10px;
    height: 30px;
    align-items: center;
    box-sizing: content-box;
}

.search input{
    color: #222;
    font-size: 1em;
    padding: 0 30px 0 10px;
    border-radius: 3px;
    width: 70%;
    height: 30px;
    border: none;
    vertical-align: middle;
}

@media (max-width:768px){

.contenedor{
    display: flex;
    align-items: flex-start;
}

.colum1{
    display: none;
    margin-left: 2%;
    width: auto;
}

.colum2 {
    width: auto;
    margin-left: 2%;
    font-size: 13px;
    margin-top: 3px;}

.colum3 {width: auto;
    margin-left: 15%;
    margin-top: 3px;}

.colum3 .row3{
    margin-top: 9px;
}

.colum4 {
    display: none;

}

}