


@media(min-width:760px){

#burger{
    display: none;
}

.closebtn{
    display: none;
}

*{padding: 0%; margin: 0%; box-sizing: border-box;}

.dp-flex{display: flex;}

header{
    background-color:#f2eded ;
    justify-content:space-around;
    height: 95px;
     }

.logo img{
    width: 40%;
    height: 95%;
    margin-left: 90%;
    border-radius: 50%;
    position: relative;}

#menu{
    display: none;}

.barra{
    font-size: 22px;
    margin-right: 15%;
    margin-bottom: 0%;
    font-family: "Roboto";
    font-weight: bold;
    height: auto;
    align-items: flex-end;
    justify-content: space-between ;}

.barra ul {
    list-style: none;
    display: flex;
    flex-direction: row;

}

.barra a:nth-child(1){
    margin-left: 30px;}

.barra ul .liLogout{
    display: none;}
.barra ul .liLogin{
    display: none;}
.barra ul .liCart{
    display: none;}

.barra ul li {
    margin-left: 10px;
}

.barra ul li a{
    text-decoration: none;
}

a{text-decoration: none;}


.color-marron{color:  black;}

.iconos{
    color: black;
    margin-top: 20px;
    font-size: 24px;
    margin-right: 10%;
    font-weight: bold;
    align-items: flex-end;
    justify-content: flex-end;}

.iconos a{
    margin-left: 20px;}

.iconos li{
    float: right;
    color:black;
    margin-top: 70px;
    list-style: none;
    margin-left: 20px;
    padding-right: 20px;

}

}
@media(max-width:768px){ 


nav.barra{
    display: flex;
}

.closebtn{
    display: flex;
}

#burger{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    width: 29px;
}

#mySidenav{
    display: flex;

}

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 25; 
        top: 0; 
        left: 0;
        background-color: #111; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-left .5s;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }


header{
    background-color:#f2eded ;
    justify-content: space-between;
    flex-direction: row;
    height: 85px;
    padding-top: 2px;}
    
.logo{
    flex-grow: 1;
    order: 2;
}

.navegacion{
    flex-grow: 1;
    order: 1;

}

.iconos{
    display: none;
}

.logo img{ 
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 24%;}

.iconos{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
}

}
