*{padding: 0%; margin: 0%; box-sizing: border-box;}

.dp-flex{display: flex;}
.d-flex {
    display: flex;
}

.jc-space-bet {
    justify-content: space-between;
}




@media(min-width:768px){ /*desktop*/

a{text-decoration: none;}

.color-marron{color:  #8C4B3C;}

.padding-7{ padding: 7%;}
.padding-5{padding: 5%;}
  
/* Banner */
.banner img{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    height: 400px;
    align-content: center;
    }

.contenedor-marron{
    background-color:#E8ABAA ;
    width: 70%;
    height: 150px;
    margin-top: 20px;
    margin: auto;
    border-radius: 10px;
    bottom:10px;
    object-fit: cover;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 5px 7px #CBA3A2;  
    }


.barra-eventos p{
    color: #F3ECE9;
    padding: 10px 25px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Pacifico', cursive;
    
}

.barra-eventos{
    margin: auto;
    font-family: 'Pacifico', cursive;
    padding-bottom: 4px;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;

}

.barra-eventos .img-prod{
    width: 60px;
    height: 55px;

}

.torta1 {
    width: 80px;
    height: 80px;
}

.torta2 {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.torta3 {
    width: 150px;
    height: 150px;
    padding: 5px;
    }

.ancho-33 {
    width: 33%;
}
 /* Promociones */

.promociones {
    background-color: #f5deb3;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    align-content: center;
    border: 1px solid lightgrey;
    padding: 20px 10px; 
    position: relative; 
    }

.nuestra-promo {
    font-size: 25px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    margin-left: 40px;
    width: 33%;
    font-family: 'Fredoka One', cursive;
          
}
.nuestra-promo-2 {
    font-size: 16px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 10px;     
    box-shadow: 10px 12px 5px #8C4B3C;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    width: 33%;
        
}

.precio-promo {
    font-family: 'Pacifico', cursive;
    color: lightcoral;
    font-size: 24px;

}

/* #### sobre mi */


.aboutme {
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    background-color: #f5deb3;
    margin: 0 auto;
    margin-top: 1px;
    width: 70%;
    height: 350px;
    align-content: center;
    border: 1px solid lightgrey;
    padding: 20px 10px;    
    font-family: 'Pacifico', cursive;
    position: relative;
    z-index: 1;    
}

.aboutme h2{
    margin-top: 40px;
    color: #8C4B3C;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.photoab {
    padding: 10px;
    height: 280px;
    margin-left: 50px;
    
}
.parrafoab {
    margin-top: 40px;
    color: #8C4B3C;
    text-align: center;
    align-items: center;
    padding: 20px;
}

}


@media(max-width:768px){ /*mobile*/

/* Banner */
.banner img{
    display: block;
    margin: auto;
    margin-top: 2px;
    width: 45%;
    align-content: center;
    }

.contenedor-marron{
    background-color:#E8ABAA ;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    position: relative;
    bottom:5px;
    object-fit: cover;
    text-align: center;
    padding: 5px;
}

.barra-eventos{
    font-family: 'Pacifico', cursive;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.barra-eventos article{
    width: 45%;
    padding: 2%;
}

.barra-eventos article p{
    color: #F3ECE9;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Pacifico', cursive;
}

.barra-eventos article a{
    text-decoration: none;
}

.img-prod{
    width: 60px;
    height: 55px;
    justify-content: center;
    
}

/* Promociones */

.promociones {
    background-color: #f5deb3;
    width: 100%;
    align-content: center;
    border: 1px solid lightgrey;
    padding: 10px 50px; 
    position: relative; 
    flex-direction: column;
    }

.nuestra-promo {
    font-size: 25px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    width: 100%;
    font-family: 'Fredoka One', cursive;
}

.promociones .nuestra-promo img{
    width: 30%;
}

.nuestra-promo-2 {
    font-size: 16px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    font-family: 'Roboto';
    margin-bottom: 20px; 
    box-shadow: 10px 12px 5px #8C4B3C;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    width: 100%;    
}

.promociones .nuestra-promo-2 img{
    width: 15%;
    margin: 15px;
}

.precio-promo {
    font-family: 'Pacifico', cursive;
    color: lightcoral;
    font-size: 24px;

}

/* #### sobre mi */


.aboutme {
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f5deb3;
    margin-top: 1px;
    width: 100%;
    height: 100%;
    align-content: center;
    border: 1px solid lightgrey; 
    font-family: 'Pacifico', cursive;
    padding: 5%;
}

.aboutme h2{
    order: 1;
    color: #8C4B3C;
    text-align: center;
    align-items: center;
    margin-bottom: 8px;
}

.photoab {
    height: 60%;
    width: 60%;
    order: 5;
}
.parrafoab {
    color: #8C4B3C;
    order: 9;
    width: 80%;
    height: 100%;
    margin-top: 5px;
}



}