*{padding: 0%; margin: 0%; box-sizing: border-box;}

.dp-flex{display: flex;}
.d-flex {
    display: flex;
}

.jc-space-bet {
    justify-content: space-between;
}
a{text-decoration: none;}

a:hover{
    color: black;
    text-decoration: black;
}
p{
    color: black;
}


@media(min-width:768px){ /*desktop*/



.color-marron{color: black;}

.padding-7{ padding: 7%;}
.padding-5{padding: 5%;}

/* Banner */

.carousel-inner img{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 400px;
    align-content: center;
    image-rendering: crisp-edges;
    }



.secciones{

    flex-direction: row;
}

.secciones1{

    flex-direction: row;
    margin-top: 20px;
}

.aboutme {
    justify-content: center;
    text-align: center;
    margin-left: 25%;   
    font-family: 'Rotobo', cursive;
    margin-bottom: 5px;
}

.sobremi{
    margin-bottom: -100px;
}

.photoab {
    padding: 10px;
    width: 100%;
    height: 80%;
    margin-left: 20px;
    border-radius: 100px;
    border: lightgray 2px solid;
    
}
.parrafo {
    margin-top: 20px;
    color: black;
    text-align: center;
    align-items: center;
    padding: 40px;
    width: 100%;
}

.parrafoTorta {
    margin-top: 20px;
    color: black;
    text-align: center;
    align-items: center;
    padding: 40px;
    width: 100%;
}

.photoProduct{
    padding: 10px;
    width: 100%;
    height: 90%;
    margin-left: 20px;
    border-radius: 100px;
    border: lightgray 2px solid;
}

.bestSellers {
    height: 400px;
    font-size: 16px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto';
    margin: 10px;     
    box-sizing: border-box;
    align-content: center;
    border: lightgray 2px solid;
    border-radius: 50px;
    flex-direction: row;
}

.bestSellers .torta2 {
    width: 90%;
    height: 70%;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.precio-promo {
    font-family: 'roboto';
    color: black;
    font-size: 16px;
}

}


@media(max-width:768px){ /*mobile*/

.carousel-inner img{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    align-content: center;
    image-rendering: crisp-edges;
    }

/* Banner */
.secciones{

    flex-direction: column;
}
.secciones1{

    flex-direction: column-reverse;
    margin-top: 50px;
}

.aboutme {
    justify-content: center;
    text-align: center;
    font-family: 'Rotobo', cursive;
    margin-bottom: 1px;
}

.sobremi{
    margin-bottom: -100px;
}

.photoab {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: lightgray 2px solid;
    margin-top: 15px;
}
.parrafo {
    margin-top: 5px;
    color: black;
    text-align: center;
    align-items: center;
    padding: 40px;
}

.photoProduct{
    padding: 10px;
    width: 100%;
    height: 90%;
    margin-left: 20px;
    border-radius: 100px;
    border: lightgray 2px solid;
}

.parrafoTorta {
    margin-top: 5px;
    color: black;
    text-align: center;
    align-items: center;
    padding: 40px;
}

.bestSellers {
    height: 200px;
    height: 100%;
    font-size: 16px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto';
    margin: 10px;     
    box-sizing: border-box;
    align-content: center;
    border: lightgray 2px solid;
    border-radius: 50px;
    flex-direction: column;
}

.bestSellers .torta2 {
    width: 90%;
    height: 70%;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.precio-promo {
    font-family: 'roboto';
    color: black;
    font-size: 16px;
}


}