.avatar-container {
    text-align: center;
    border-bottom: 0.1px solid rgb(223, 221, 221);
}

.avatar {
    width: 200px;
    border-radius: 50%;
    position: relative;
    bottom: -70px;
    z-index: 1;
}

.avatar:hover {
    opacity: 50%;
}

.avatarInputFile {
    display: none;
}

.btn-action-container {
    margin-top: 80px;
}

.btn-upload-avatar {
    display: none;
}