<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title:"Carrito de compras"}) %>
    <link rel="stylesheet" href="../stylesheets/cart.css">
    <script src="/js/cart.js"></script>
</head>

<body>
    <div id="main">
        <%- include('../partials/header') %>
        <div class="container">
            <div class="items">
                <div class="row mb-3 mt-3 item">
                    <div class="col-md-1">
                        <img src="/images/cupcake.svg" alt="" class="product-image">
                    </div>
                    <div class="col-2 product-details">
                        <p class="product-details-title"><strong>Torta advenger</strong></p>
                        <p class="product-details-price"><strong>$1000</strong></p>
                    </div>
                    <div class="col-md-2 actions-container">
                        <button class="btn-outline-danger btn">
                            <i class="bi bi-x-circle"> Eliminar</i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <%- include('../partials/footer') %>
    </div>

</body>

</html>