<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title:"Carrito de compras"}) %>
    <link rel="stylesheet" href="../stylesheets/cart.css">
    <script defer src="/js/cart.js"></script>
</head>

<body>
    <div id="main">
        <%- include('../partials/header') %>
        <div class="container">
            <div id="items">
            </div>
            <div class="total">
                <p>Total a pagar $ <strong id="totalAmount">0</strong>.- </p>
                <button class="btn-outline-primary btn">Pagar</button>
            </div>
        </div>

        <%- include('../partials/footer') %>
    </div>

</body>

</html>