<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title:"Carrito de compras"}) %>
</head>

<body>
    <div id="main">
        <%- include('../partials/header') %>
        <div class="container">
            <p>Gracias por su compra.</p>
        </div>

        <%- include('../partials/footer') %>
    </div>

</body>

</html>