/* standard styles */
.mr-auto {
    margin: auto;
}

.mr-top-10 {
    margin-top: 10px;
}

.mr-bottom-10 {
    margin-bottom: 10px;
}

.text-align-center {
    text-align: center;
}

/* end standard styles */


body {
    background-color: rgb(240, 240, 240);
    width: 80%;
    margin: auto;
}

.barra-busqueda {
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.articles article {
    width: 100%;
}

.articles article details {
    width: 50%;
}

.articles article image img {
    font-size: 30%;
}

/* FOOTER */
footer {
    border: 1px solid grey;
}

footer p {
    text-align: center;
    margin: 0;
}

/* END FOOTER */