*{padding: 0%; margin: 0%; box-sizing: border-box;}

.dp-flex{display: flex;}
.d-flex {
    display: flex;
}

.jc-space-bet {
    justify-content: space-between;
}
header{
    background-color:#f2eded;
    height: 150px;
    width: 100%;
    justify-content:space-around;
}

.logo img{
    width: 180px;
    height: 180px;
    margin-left: 20%;
    border-radius: 50%;
    position: relative;}


.barra{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 28px;
    margin-right: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;}

a{text-decoration: none; color:   #8C4B3C;}

.padding-15{ padding: 10%;}

.iconos{
    margin-top: 120px;
    color:#8C4B3C;
    font-size: 20px;
    margin-right: 10%;
    font-weight: bold;
}

.banner img{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 300px;
    align-content: center;
    }

.contenedor-marron{
    background-color:#8C4B3C ;
    width: 50%;
    height: 125px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    bottom:10px;
    object-fit: cover;
    justify-content: space-around;
    text-align: center;
    padding-top: 2px;
    }


.barra-eventos p{
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;
    
}

.barra-eventos{
    margin: auto;
    
}

.img-prod{
    width: 80px;
    height: 75px;
    justify-content: center;
    
}

.torta1 {
    width: 80px;
    height: 80px;
}

.torta2 {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.torta3 {
    width: 150px;
    height: 150px;
    padding: 5px;
    }

.promociones {
    background-color: #f5deb3;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 250px;
    align-content: center;
    border: 1px solid lightgrey;
    padding: 20px 10px; 
    position: relative;   
}

.nuestra-promo {
    font-size: 25px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    margin-left: 40px;
    box-shadow: 10px 5px 5px #8C4B3C;
    border: 1px solid lightgrey;      
}
.nuestra-promo-2 {
    font-size: 16px;
    color: #8C4B3C;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    margin: 10px; 
     
    box-shadow: 10px 5px 5px #8C4B3C;
    border: 1px solid lightgrey;
    box-sizing: border-box;
        
}

/* #### sobre mi */


.aboutme {
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    background-color: #f5deb3;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 350px;
    align-content: center;
    border: 1px solid lightgrey;
    padding: 20px 10px;
    position: relative;
    font-family: 'Pacifico', cursive;
    z-index: 1;    
}

.aboutme-2 {
    text-align: center;
    background-color: #f5deb3;
    width: 78%;
    z-index: 2;
    position: relative;
    left: -671px;
    top: 0px;
    border: 3px solid lightgrey;
    box-shadow: 10px 5px 5px #8C4B3C;
    box-sizing: content-box;
}

.aboutme-3{
    height: 100px;
}

.photoab {
    padding: 10px;
    height: 300px;
    width: auto;
    margin-left: 150px;
}
.parrafoab{
    margin-top: 40px;
    color: #8C4B3C;
    text-align: center;
    align-items: center;
}





.contenedor{
    background-color: #5f260d;        
    height: 200px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1ecec;
    margin: auto;
}

.colum1{
    width: 10%;
    margin-top: 20px;
    margin-left: 15%;
    margin-top: auto;
    margin-bottom: auto;
}


.colum1 a{
    color: #f1ecec;
    text-decoration: none;
    
}

.colum1 li{
    list-style: none;
}

.colum1 .row{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.colum2{
    width: 15%;
    margin-top: 20px;
    margin-left: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.colum2 .row2{
    margin: 10px;
    
}

.colum2 i{
    font-size: 25px;
    width: 35px;
}

.colum3{
    width: 10%;
    margin-top: 20px;
    margin-left: 7%;
    margin-top: auto;
    margin-bottom: auto;
}

.colum3 .row3{
    margin-top: 10px;
    
}
.colum3 a{
   color: #f1ecec;
}


.colum4{
    width: 30%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-family: 'Pacifico', cursive;

}

.colum4 #email{
    background-color: #5f260d;
    border-color: #f1ecec;
    border-style: solid;
    
}