


/* aaaaaaaaaaaaaa */ 

*{padding: 0%; margin: 0%; box-sizing: border-box;}

.dp-flex{display: flex;}

header{
    background-color:#f2eded;
    height: auto;
    width: auto;
    justify-content:space-around;}

.logo img{
    width: 80%;
    height: 110%;
    margin-left: 40%;
    border-radius: 50%;
    position: relative;}


.barra{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
    margin-right: 15%;
    font-family: "Roboto";
    font-weight: bold;
    height: 60px;
}

a{text-decoration: none;}

.color-marron{color:  #8C4B3C;}

.padding-7{ padding: 7%;}
.padding-5{padding: 5%;}

.iconos{
    color: brown;
    margin-top: 110px;
    font-size: 24px;
    margin-right: 10%;
    font-weight: bold;}
  
@media(max-width:768px){
    
    .barra{
        margin-top: 10%;
        font-size: 12px;
    }

    .logo img{
       
        position: absolute;
        width: 40px;
        height: 40px;
    }

    .iconos{
        font-size: 15px;
        margin-top: 20%;
    }
}