

.cuerpo {
    background-color:#F0F0F0;
}

.products-menu {
    display: flex;
    justify-content: space-between;
    background-color: #E8ABAA;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 2px 5px 7px #CBA3A2;
    height: 200px;
    align-items: center;

}

.products-icons {

    width: 80px;

}

.f-pacifico {
    font-family: pacifico;
    margin-top:15px;
    margin-bottom: 0px;
}

.margin {
    margin-right: 12%;
    font-size: 24px;
    color: #F3ECE9;
    text-align: center;
    line-height: 20px;
}

.primer-item {
    margin-left: 17%;
}

.one-line {
    width: 170px;
    padding: 2%;
}

.p-1 {
    padding-top: 1%;;
    margin-right: 16%
}

.color {
    background-color: #F3ECE9;
    text-align: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100px;
}

.buscador {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    font-family: roboto;
    font-weight: bold;
    font-size: 12px;
    width: 280px;
    height: 35px;

}

.input-buscador {
    border: none;
    margin-left: 5px;
    font-size: 14px;
    width: 200px;
    font-family: montserrat;
    text-align: center;
    
}

.buscador-torta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lupita {
    padding: 1.5%;
  
    border: 1px solid #5C3A27;
    margin-top: 3.5px;
    background-color: #F3ECE9;
}
.detalle-productos {
    max-width: 70%;
  margin: 0 auto;
  padding: 10px 30px 30px 30px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  

}

.producto {

    margin: 10px 1em;
    background-color: #F3ECE9;
    flex: 0 1 20%;
    border: 1px solid #642206;
    padding: 1.5%;
    box-shadow:2px 5px 7px #5C3A27;  

}

.texto-torta {
    font-family: roboto;
    font-size: 20px;
    text-align: center;
    color: #5C3A27;
    margin-top: 10px;
}

.precio-torta {
    font-family: pacifico;
    font-size: 26px;
    color: #D37775;
    text-align: center;
}

.cont-torta {
    border: 1px solid #642206;
    padding: 2%;

}

.boton-comprar {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 2% 15%;
    background-color:#E8ABAA;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 5px 7px #CBA3A2;

}

.texto-comprar {
    font-family: pacifico;
    font-size: 25px;
    color: #F3ECE9
}

.lista-paginas {
    font-family: roboto;
    font-size: 16px;

    display: flex;


    list-style-type: none;
    justify-content: center;
}

.paginas {
    font-family: roboto;
    margin-bottom: 15px;

}

.m-5px {
    margin-left: 15px;
}

.foto-torta {
    width:250px;
    height: 250px;
}

.color-link {
    color: #F3ECE9;
}

.color-link:hover {
    color: #5C3A27;
    cursor: pointer;
}

.color-link2 {
    color: #5C3A27;
}

.color-link2:hover {
    color: #D37775;
    cursor: pointer;
}





@media(max-width:768px) {
    .products-menu {

        flex-direction: column;  
        align-items: flex-start;

        
    }
    .products-icons {
        width: 30px;
        margin-right: 25px;

    }

    .margin {
        margin: 0 24%;
        padding: 0;
        display: flex;
        flex-direction: row;
        font-size: 18px;
    }

    .one-line {
        padding: 0;
        width: 100%;
    }

    .detalle-productos {
        max-width: 95%;
        display: initial;
        text-align: center;
  

    }

    .foto-torta {
        width: 290px;
        height: 290px;
        padding-top: 14px;

    }

    .precio-torta {
        height: 41px;
    }

    .boton-comprar {
        margin: 0% 16%;
        margin-bottom: 7px;
        padding: 0;
    }
}




/* justify-content: flex-end flex-start center space-around space-between
align-items: flex-end flex-start center baseline stretch
flex-direction: row row-reverse column column-reserve
order: 1, 2, -1, 1 (items individuale)
align-self: flex-end flex-start center baseline stretch
flex-wrap: wrap nowrap wrap-reverse
flex-flow: direction and wrap
align-content: flex-end flex-start center baseline stretch  */